body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  padding: 0.5% 0%;
}

header img {
  height: 5vh;
}

/* .primary {
  display: flex;
  justify-content: center;
} */

/* .Boards {
  display: flex;
  flex-direction: column;
  text-decoration: none;
} */

a {
  text-decoration: none;
  color: white;
}

.Lists {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.List {
  width: 12%;
  background-color: gray;
  height: fit-content;
}

.card {
  display: flex;
}

form > input {
  width: 100%;
}

.chechklistitems {
  display: flex;
  justify-content: space-between;
}

.checklistHeader {
  display: flex;
  justify-content: space-between;
  padding-top: 15%;
  align-items: center;
}

.btn-card {
  width: 90%;
  text-align: left;
  border-radius: 0.5em;
  margin-bottom: 5%;
}

.btn-card:hover {
  background-color: blue;
}

.btn-close {
  border-radius: 2em;
  border: none;
  display: flex;
  justify-content: center;
  height: 3vh;
}

.btn-close:hover {
  background-color: red;
}

.btn-add {
  border-radius: 0.5em;
  border: none;
  padding: 0.2em;
  margin-top: 0.5em;
  background-color: mediumseagreen;
}

#root {
  /* display: flex; */
  padding-top: 2%;
}

.App {
  text-decoration: none;
  text-align: left;
  /* width: 90%; */
  padding-left: 2%;
}

/* .boards-container > h1{
  text-decoration: none;
  border: 0.5px solid black;
  border-radius: 1vw;
  max-width: 90%;
  text-align: center;
  background-color: rgb(57, 95, 59);
}

.boards-container >h1:hover{
  background-color: blue;
}

.boards-container{
  background-color: white;
  width: 15%;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

a{
  color: white;
  text-decoration: none;
}

.list-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: scroll;
  border: 2px solid cadetblue;

}

.ind-list{
  background-color: gray;
  width: 15%;
  color: white;
  text-align: center;
  padding: 1%;
}
  

.ind-card{
  background-color: white;
  color: black;
  padding:3%;
  border: 0.5px solid black;
  text-align: left;
} */
